.recipe-img {
    width: 30%;
    height: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid white;
}

.mignon-img {
    width: 30%;
    height: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid white;
}

.twice-baked-img {
    width: 30%;
    height: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid white;

}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(rgb(42, 176, 221), #FFFFFF);
    height: 100%;
    overflow: auto;
    
}


h1 {
    text-align: center;
}

hr {
    border: 1px solid white;
    width: 88%;
    margin-bottom: 10px;
    
}

.last-hr {
    border: 1px solid rgb(42, 176, 221);
    width: 100%;
}

.home-button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(42, 176, 221);
    font-size: 30px;
    text-align: center;
}

.home-background {
    background: linear-gradient(#FFFFFF, rgb(88, 200, 238));
    width: 10%;
    height: 65px;
    margin-right: 100%;
}

ol {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(42, 176, 221);

}

ul {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(42, 176, 221);
    
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(34, 147, 185);
    font-size: 25px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    font-weight: bold;

}

a:visited {
    color: rgb(42, 176, 221);
}

a:hover {
    color: #FFFFFF;
}

ol li {
    padding-top: 5px;
}